//Font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, "sans-serif"
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, "Courier New", monospace
font-custom-family = 'sourcesanspro-extralight'
font-custom-filename = 'sourcesanspro-extralight-webfont'
font-icon-family = 'icomoon'
font-icon-filename = 'icomoon'
font-size = 100%
line-height = 1.5

//color
color-background = #ffffff
color-logo = #608c4c
color-feature-title = #608c4c
color-cmd = #757575
color-code = #ffffff
color-sudo = #8bb3e4
color-link-hover = #8bb3e4
color-line = #eeeeee
color-font = #000000

//img
img-background = "../img/geometry.png"
img-backgroundX2 = "../img/geometry_@2x.png"

//Media
width-phone = 568px
width-mini = 768px
width-tablet = 1024px
width-desktop = 1560px
phone = "only screen and (min-width: " + width-phone + ")"
mini= "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"